<div class="full-bar">
    <div class="navibar">
        <div class="lato">
            <img src="../../../assets/ori.png" (click)="apriqualcosa('')" class="logo" />
        </div>
        <div class="centro">
            <div class="elcont" >
                <div (click)="apriqualcosa('unita')" [ngClass]="(selected=='unita') ? 'el selected' : 'el'">Unità di Misura</div>
                <div  [ngClass]="(selected=='ds') ? 'dropdown-contenitor el selected' : 'dropdown-contenitor el'">
                    <label (click)="apriqualcosa('ds')">
                        DataSet
                    </label>
                    <div class="dropdown">
                        <div class="eldrop" (click)="apriqualcosa('csv')" [ngClass]="(selected=='csv') ? 'el selected' : 'el'">
                            CSV
                        </div>
                        <div class="eldrop" (click)="apriqualcosa('exportCsv')" [ngClass]="(selected=='exportCsv') ? 'el selected' : 'el'">
                          EXPORT
                      </div>
                    </div>
                </div>
                <div (click)="apriqualcosa('graph')" [ngClass]="(selected=='graph') ? 'el selected' : 'el'">Grafici</div>
                <div (click)="apriqualcosa('presentazione')" [ngClass]="(selected=='presentazione') ? 'el selected' : 'el'">Presentazione</div>
            </div>
        </div>
        <div class="destra">
            <div class="dropdown-contenitor el" style="float: right;">
                <label class="personal"> {{nome}} <fa-icon [icon]="arrowDown"></fa-icon></label>
                <div class="dropdown">
                    <app-profilo class="eldrop el" [utente]="id"></app-profilo>
                    <!-- <div>
                        <a class="eldrop" routerLink="password" routerLinkActive="active">
                            <fa-icon icon="clock" fixedWidth="true"></fa-icon>
                            <span>Password</span>
                        </a>
                    </div> -->
                    <div (click)="apriqualcosa('user')" class="eldrop" *ngIf="isAdmin" [ngClass]="(selected=='user') ? 'el selected' : 'el'">
                        lista utenti
                    </div>
                    <div (click)="logout()" class="eldrop el">
                        log out
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vertical">
        <div class="btnmenu" (click)="verticalnav()">
            <fa-icon style="font-size: larger;" [icon]=menu></fa-icon>
        </div>
        <div [ngClass]="(vnav)? 'menu' : 'menu show'">
            <div class="dettagli">
                <div class="nome">
                    <label> {{nome}} </label>
                </div>
                <div class="immagine">
                    <img [src]="image">
                </div>
            </div>
            <div style="margin: 10px 0px">
                <div class="el vert" (click)="apriqualcosa('unita',true)" [ngClass]="(selected=='unita') ? 'el selected' : 'el'">Unità di Misura</div>
                <div class="el vert" (click)="apriqualcosa('ds',true)" [ngClass]="(selected=='ds') ? 'el selected' : 'el'">
                    DataSet
                </div>
                <div class="el vert sub" (click)="apriqualcosa('csv',true)">
                    CSV
                </div>
                <div class="el vert" (click)="apriqualcosa('graph',true)" [ngClass]="(selected=='graph') ? 'el selected' : 'el'">Grafici</div>
                <div class="el vert" (click)="apriqualcosa('presentazione',true)" [ngClass]="(selected=='presentazione') ? 'el selected' : 'el'">Presentazione</div>
                <div class="el vert" (click)="logout()" >Log Out</div>
            </div>
        </div>
    </div>
</div>
