<div class="row">
  <div class="col" >
    <img class="grafico" src="..\assets\GraphReportHome.png">
    <img class="fraseSx"  src="..\assets\createGraph.jpg">
    <!--<p>Create Your Personal Graph</p>-->
  </div>
  <div class="col" >
    <h1 class="titolo">WELCOME {{utente | uppercase}}</h1>
    <img class="phone" src="..\assets\SmartPhone.jpg">
    <img class="fraseCentro" src="..\assets\Smart.jpg">
    <!--<p>GraphReport On Your SmartPhone</p>-->
  </div>
  <div class="col" >
     <!--<p>Import Csv From Your Laptop</p>-->
    <img class="laptop" src="..\assets\laptop.png">
    <img class="fraseDx" src="..\assets\Import.jpg">
  </div>





</div>
