dataset/src/main/resources/.h2.server.properties
gateway/src/main/resources/.h2.server.properties
Presentazione/.vs/Presentazione/v16/.suo
Presentazione/Presentazione/Migrations/20200502205231_DbPresentazione.Designer.cs
Presentazione/Presentazione/Migrations/20200502205231_DbPresentazione.cs
Presentazione/Presentazione/appsettings.json
Presentazione/Presentazione/bin/Release/netcoreapp3.1/Presentazione.dll
Presentazione/Presentazione/bin/Release/netcoreapp3.1/Presentazione.pdb
Presentazione/Presentazione/bin/Release/netcoreapp3.1/Presentazione.runtimeconfig.dev.json
Presentazione/Presentazione/bin/Release/netcoreapp3.1/appsettings.json
Presentazione/Presentazione/obj/Presentazione.csproj.nuget.dgspec.json
Presentazione/Presentazione/obj/Presentazione.csproj.nuget.g.props
Presentazione/Presentazione/obj/Release/netcoreapp3.1/Presentazione.assets.cache
Presentazione/Presentazione/obj/Release/netcoreapp3.1/Presentazione.csproj.CoreCompileInputs.cache
Presentazione/Presentazione/obj/Release/netcoreapp3.1/Presentazione.csproj.FileListAbsolute.txt
Presentazione/Presentazione/obj/Release/netcoreapp3.1/Presentazione.csprojAssemblyReference.cache
Presentazione/Presentazione/obj/Release/netcoreapp3.1/Presentazione.dll
Presentazione/Presentazione/obj/Release/netcoreapp3.1/Presentazione.pdb
Presentazione/Presentazione/obj/project.assets.json
Presentazione/Presentazione/obj/project.nuget.cache
.vs/
Presentazione/Presentazione/Migrations/20200504100023_InitialCreate.Designer.cs
Presentazione/Presentazione/Migrations/20200504100023_InitialCreate.cs
