<div id="header" class="row no-gutters">
  <div class="col-md-2 " style="background-color: #1e282d; display: inline-block">
      <p><img src="../../../assets/user.svg" style="height:30px; margin:0.5%;"> {{user.username}} {{user.usertype}}</p>
  </div>

  <div class="col-md-3">
      <form [formGroup]= "ricerca" (ngSubmit)="search(ricerca.value)"class="searchContainer">
          <i class="fa fa-search searchIcon"></i>
          <input class="searchBox" type="search" name="search" placeholder="Search..." formControlName = "testo">
      </form>
  </div>
  <div class="col-md-4" style="text-align: center">
      <img src="../../../assets/logo.png" alt="header" style="height:50px;padding-top: 2.5px;" class="centrato">
  </div>
  <div class="col-md-1" style="text-align: center">
  </div>
  <div class="col-md-2" style="display: inline-block;margin-top: 3px;">
<a><i class="fa fa-bell" style="font-size:25px; padding:12px"></i></a>
  <a (click)="logout()"><i  class="fa fa-sign-out" style="font-size:25px; padding:12px"></i></a>
  </div>
</div>
