<div class="">
  <div class="contenitor">
    <div class="divLogo">
      <img class="imgLogo" src="../../assets/logo2.png" alt="logo">
    </div>
    <div >
      <form class="formLogin" #f="ngForm">  
        <h1>LOGIN</h1>

        <label for="inputUser" class="">Username</label> 
        <input type="text" id="user" name="username" placeholder="Username" class="" required autofocus  ngModel> 

        <label for="inputPassword" class="">Password</label> 
        <input type="password" id="pass" name="password" placeholder="Password" class="" required ngModel> 
      
        <button class="" type="submit" (click)="login(f)">Log in</button>
        <button class="" type="submit" (click)="register()">Register</button>
      </form>
    </div>
  </div>
</div>