body{
    background-color: darkorange;
    margin: 0;
}

.contenitor{
    margin: auto;
    width: max-content;
}

.divLogo{
    margin: 25px auto;
    width: min-content;
}

.imgLogo{
    width: 150px;
}

.formLogin{
    margin: 25px 0;
    width: 210px;
}

input {
    width: 80%;
    background-color: #ffff;
    color: #000000;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    text-align:center;
  }
  
  input:hover {
    background-color:  #00ccad;
  }

  form {
	
	border-radius: 7px;
	background-color: #f2f2f2;
    padding: 20px;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  
  button {
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
    background-color:  #00a990;
    border: none;
    color: white;
    padding: 3% 3%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 130%;
    margin-top: 5%;
    margin-bottom: 5%;
    cursor: pointer;
    border-radius: 7px;
    width: 100%;
  }
  
  button:hover {
    background-color:  #00ccad; 
    color: white;
  }
  
  h1 {
    margin: 0px;
	text-align: center;
	size: 300%;
	font-family: courier;
    color: red;
}

label {
    font-weight: bold;
	float: center;
	clear: both;
	width:100%;
	text-align: center;
}