.cancButton, .modButton{
  cursor: pointer;
	padding: 10px 20px;
  margin: auto;
  left:0px;
  right:0px;
  opacity: 0.5;
}

.btn{
  display: grid;
  margin-top: 10px;

}

.container-fluid{
  margin-top: 40px;
}

.form-group{
  margin-top: 60px;
}

.input{
  border-radius: 10px;
}





