<div class="container">
  <div class="main">
    <table class="table-categoria">
      <thead>
        <tr>
          <th class="text-uppercase">Categorie</th>
          <th class="text-uppercase">Manage</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of categories">
          <th>{{c.nome}}</th>
          <th>
            <button style="font-family:'Courier New', Courier, monospace" style="background-color: crimson;" (click)="delCategoria(c)">Delete</button>
          </th>
        </tr>
      </tbody>
    </table>
    <div class="insert-left">
        <input type="text" placeholder="Insert Categoria"[(ngModel)]="newCategoria.nome" />
        <hr style="color: transparent;">
        <label class="submit" (click)="insertCat()">Inserisci</label>
    </div>
  </div>
  <div class="main">
    <table class="table-unita">
      <thead>
        <tr>
          <th class="text-uppercase">Unita di Misura</th>
          <th class="text-uppercase">Manage</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of listUnita">
          <th>{{u.nome}}</th>
          <th>
            <button style="font-family:'Courier New', Courier, monospace"
            style="background-color: crimson;" (click)="delete(u)">Delete</button>
          </th>
        </tr>
      </tbody>
    </table>
        <div class="insert-right">
            <input type="text" placeholder="Insert Unità di Misura" [(ngModel)]="newUnita.nome" />
            <hr style="color: transparent;">
            <label for="categoria">Scegli Categoria</label>
            <select [(ngModel)]="newUnita.categoriaId">
              <option selected="selected" [value]="c.id"  *ngFor="let c of categories">{{c.nome}}</option>
            </select>
            <hr style="color: transparent;">
            <label class="submit" (click)="insert()">Inserisci</label>
        </div>
  </div>
</div>

