.cancButton, .modButton{
  cursor: pointer;
	padding: 10px 20px;
  margin: auto;
  left:0px;
  right:0px;
  opacity: 0.5;
}

.mostraButton{
  float: right;
  cursor: pointer;

}

.btn{
  width: 50%;
  display: grid;
  margin-top: 10px;
  margin-left: 21%;

}

.container-fluid{
  margin-top: 40px;
  width: 100vw;
  height: 140vh;
  overflow: auto;
}

.custom-select{
  width: 50%;
  margin-left: 5px;
}

.form-group{
  margin-top: 60px;
  max-width: 364px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  border: solid;
  background-color: rebeccapurple;
  border-color: rebeccapurple;
  border-radius: 60px;
  color: white;
}


.input{
  border-radius: 10px;
  width: 60%;
  margin-left: 17%;
  text-align: center;
  margin-bottom: 10px;
}

table{
  max-width: 400px;
  margin: auto;
}

.full{
  width: 100vw;
  height: 100vh;
  overflow: auto;
}




