<div class="full">
<div class="container-fluid row" >
  <div class="col">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th class="text-uppercase" style="text-align: center;">Categorie</th>
          <th class="text-uppercase" style="text-align: center;" *ngIf="isAdmin">Manage</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of categories" >
          <td>
            <input [disabled]="!isAdmin"  class="form-control-plaintext" type="text"
            style="font-weight: bold;" [(ngModel)]="c.nome" />
            <fa-icon fa-2x [icon]="mostra" style="font-size: 1.0em;" class="mostraButton" (click)="getunitaByCategoria(c.id)"></fa-icon>
          </td>
          <th *ngIf="isAdmin">
            <fa-icon fa-2x [icon]="cancella" style="font-size: 1.5em;" class="cancButton" (click)="delCategoria(c)"></fa-icon>
            <fa-icon fa-2x [icon]="modifica" style="font-size: 1.5em;" class="modButton" (click)="updateCat(c)"></fa-icon>
          </th>
        </tr>
      </tbody>
    </table>
      <div class="form-group">
          <input class="input" type="text" placeholder="Insert Categoria" [(ngModel)]="newCategoria.nome" />
          <button class="btn btn-success" (click)="insertCat()">Inserisci</button>
      </div>
  </div>
  <div class="col" *ngIf="showDiv">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th class="text-uppercase" style="width: 50%;" style="text-align: center;">Unita di Misura</th>
          <th class="text-uppercase" style="text-align: center;" *ngIf="isAdmin">Manage</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of UnitaByCategoria">
          <td>
            <input [disabled]="!isAdmin" class="form-control-plaintext" type="text"
             style="font-weight: bold;" [(ngModel)]="u.nome" />
          </td>
          <th *ngIf="isAdmin">
            <fa-icon fa-2x [icon]="cancella" style="font-size: 1.5em;" class="cancButton" (click)="delete(u)"></fa-icon>
            <fa-icon fa-2x [icon]="modifica" style="font-size: 1.5em;" class="modButton" (click)="update(u)"></fa-icon>
          </th>
        </tr>
      </tbody>
    </table>
      <div class="form-group">
        <input class="input" type="text" placeholder="Insert Unità di Misura" [(ngModel)]="newUnita.nome" />
        <br>
        <label for="categoria" style="font-weight: bold;">Scegli Categoria</label>
          <select [(ngModel)]="newUnita.categoriaId" class="custom-select">
            <option selected="selected" placeholder="Scegli Categoria" [value]="c.id"
            *ngFor="let c of categories">{{c.nome}}</option>
          </select>
        <button type="button" class="btn btn-success" (click)="insert()">Inserisci</button>
      </div>
  </div>
</div>
</div>


