<div class="full">
<div class="container-fluid row">
  <div class="col" class="presentazione">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Inserisci Titolo">
      <div class="input-group-append">
        <button class="btn btn-success" type="submit">Crea</button>
      </div>
    </div>
    <div class="modifica">
      <div>
        <button type="button" class="btn btn-warning" style="float: left;">Modifica</button>
      </div>
      <div>
        <button type="button" class="btn btn-danger" style="float: right;">Elimina</button>
      </div>
    </div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Titolo</th>
          <th>Data Creazione</th>
          <th>Data Ultima Modifica</th>
        </tr>
      </thead>
      <tbody>

      </tbody>

    </table>

  </div>
  <div class="col" class="diapositiva">
    <ul class="list-group">
      <li class="list-group-item">Diapositiva1</li>
      <li class="list-group-item">Diapositiva2</li>
      <li class="list-group-item">Diapositiva3</li>
    </ul>
  </div>
</div>
</div>
