
.full{
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.container-fluid{
  width: 100vw;
  height: 140vh;
  overflow: auto;
}

.presentazione{
  margin: auto;
  margin-top: 10px;
}


.diapositiva{
  margin: auto;
  margin-top: 10px;
}

