<div class="row" style="margin-top: 8px;">
  <div class="col-9">
    <div class="container" style="max-width: 350px;margin:auto">
      <mat-form-field appearance="legacy">
        <mat-label>Nome Presentazione</mat-label>
        <input matInput #tit="ngModel" type="text" [(ngModel)]="presentazione.nome" (keyup)="filtraLista()">
      </mat-form-field>
    </div>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Titolo</th>
            <th scope="col">Data Creazione</th>
            <th scope="col">Data Ultima Modifica</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of listPresentazioniFiltrata; let i = index" [ngClass]="(indice==i)?'selected':''" (click)="indice=i;" style="cursor:pointer">
            <td>{{p.nome}}</td>
            <td>{{p.dataCreazione | date:"E dd MMM yyy"}}</td>
            <td>{{p.ultimaModifica | date:"E dd MMM yyy"}}</td>
          </tr>
        </tbody>      
      </table>
    </div>
  </div>
  <div class="col-3" style="margin-top: 20px;">
    <div class="divButton">
      <button class="btn btn-outline-success btnCRUD" (click)="newPresentation()" [disabled]="tit.value.trim()==''">Crea</button>
    </div>
    <div class="divButton">
      <button class="btn btn-outline-warning btnCRUD" (click)="edit()" [disabled]="indice==-1">Modifica</button>
    </div>
    <div class="divButton">
      <button class="btn btn-outline-danger btnCRUD" (click)="del()" [disabled]="indice==-1">Elimina</button>
    </div>
  </div>
</div>


<div [ngClass]="(error!=0) ? 'alert alert-danger divDel' : 'hidden'">
  <button class="close" data-dismiss="alert" (click)="error=0">&times;</button>
  <div *ngIf="error===1">
      <strong>Impossibile creare!</strong><br>Si è verificato un errore imprevisto.
  </div>
  <div *ngIf="error===2">
    <strong>Impossibile creare!</strong><br>Nome duplicato.
</div>
</div>

<div [ngClass]="(toDelete!==-1) ? 'alert alert-danger divDel' : 'hidden'">
  <div style="text-align: center;">
    <strong>Attenzione!</strong><br> Proseguendo non sarà più possibile recuperare questa presentazione.<br>Si desidera proseguire?
  </div>
  <div class="row">
    <div class="col divButton">
        <fa-icon [icon]="ann" style="font-size: 1.5em;" class="delbutton" (click)="conf(false)"></fa-icon>
    </div>
    <div class="col divButton">
        <fa-icon fa-2x [icon]="ok" style="font-size: 1.5em;" class="delbutton" (click)="conf(true)"></fa-icon>
    </div>
  </div>
</div>