.divButton{
  margin:15px auto;
  width:min-content;
  flex-grow: unset;
}

.btnCRUD{
  width:90px;
  margin:auto;
}

.btnCRUD:disabled{
  color: grey !important;
  border-color: grey;
  cursor: unset;
}

th, td{
  text-align: center;
}
th{
  width:33%;
}
.selected{
  background-color: aliceblue;
}

.hidden{
  display:none;
}

.divDel{
  width: max-content;
  position: absolute;
  margin: auto;
  top: 25%;
  right: 0;
  left: 0;
}

.delbutton{
  opacity: 0.5;
  cursor: pointer;
}
.delbutton:hover{
  opacity: 1;
}
.table th, .table td{
  padding: 5px !important;
}

.btn-outline-warning:hover{
  color:white;
}

mat-form-field{
  width:100%;
}