
<div class="canvas" *ngIf="(ready) else noAssi">
    <canvas #esporta baseChart 
        [datasets]="datasets" 
        [labels]="labels" 
        [options]="options" 
        [chartType]="chartType"
        [colors]="colors">
    </canvas>
</div>
<ng-template #noAssi>
    <div *ngIf="(first)" style="text-align: center;"><h3 style="color: white;"> Aggiungi il primo set di valori </h3></div>
    <div style="width: max-content;margin: auto;left: 0;right: 0;color:white">
        <fa-icon [icon]="wait" [spin]="true" size="2x"></fa-icon>
    </div>
</ng-template>
<div class="settingPane" *ngIf="pane">
    <div>
        <input id="tito" type="radio" name="nav" class="hidden nav" checked/>
        <label for="tito" class="scheda" (click)="sc=3">Titolo</label>

        <input id="tipo" type="radio" name="nav" class="hidden nav" />
        <label for="tipo" class="scheda" (click)="sc=2">Tipologia</label>
    
        <input id="leg" type="radio" name="nav" class="hidden nav" />
        <label for="leg" class="scheda" (click)="sc=1">Legenda</label>

        <input id="add" type="radio" name="nav" class="hidden nav" />
        <label for="add" class="scheda" (click)="sc=4">Aggiungi</label>

        <input id="esp" type="radio" name="nav" class="hidden nav" />
        <label for="esp" class="scheda" (click)="sc=5">Esporta</label>

        <label *ngIf="sc<4" [ngClass]="(tit.valid)?'menubtn':'menubtnDis'" style="width: 100px;float: right;border-radius: 5px;" (click)="submitOption()">Salva</label>
        <label *ngIf="sc==4" class="menubtn" style="width: 100px;float: right;border-radius: 5px;" (click)="addSet()">Aggiungi</label>
    </div>
    <div class="optCont">
        <div *ngIf="sc==4">
            <label style="margin-top:3px">DataSet</label><br>
            <select style="width: 140px;" (change)="filtra($event.target.value)"> 
                <option *ngFor="let c of dsDistinct" [value]="c"> {{c}} </option> 
            </select>
            <div>
                <div class="minicont">
                    <label >Asse X</label>
                    <select [(ngModel)]="newAssi[0]"> 
                        <option *ngFor="let c of subList" [value]="c.id">{{findName(c.idUnita)}} {{c.commento}}</option>
                    </select>
                </div>
                <div class="minicont">
                    <label >Asse Y</label>
                    <select [(ngModel)]="newAssi[1]">
                        <option *ngFor="let c of subList" [value]="c.id">{{findName(c.idUnita)}} {{c.commento}}</option>
                    </select>
                </div>
                <div class="minicont">
                    <input id="az" type="checkbox" class="inpOption" style="margin:0px 3px;width:max-content" [(ngModel)]="zToo"/>
                    <label for="az">Asse Z</label>
                    <select [(ngModel)]="newAssi[2]" [disabled]="!zToo"> 
                        <option *ngFor="let c of subList" [value]="c.id">{{findName(c.idUnita)}} {{c.commento}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div *ngIf="sc==2">
            <div class="minicont">
                <label >Tipo Grafico Base</label>
                <select [(ngModel)]="graph.tipoGrafico" style="margin-bottom: 5px;" [disabled]="graph.mixed"> 
                    <option *ngFor="let c of key(enumTipo)" [value]="enumTipo[c]">{{enumTipo[c] | titlecase}}</option>
                </select>   
                <input id="pareto" type="checkbox" class="inpOption" [(ngModel)]="graph.pareto" style="margin:0px 3px;width:max-content"/>
                <label for="pareto" class="lblOption" style="margin:0px 3px">Pareto</label><br>
                <input id="mixe" type="checkbox" class="inpOption" [(ngModel)]="graph.mixed" style="margin:0px 3px;width:max-content"/>
                <label for="mixe" class="lblOption" style="margin:0px 3px">Mixed</label><br>
            </div>
            <ng-container *ngIf="ready">
                <div class="minicont" *ngFor="let x of assex; let i = index">
                    <label >Set {{i+1}}</label>
                    <div>
                        <label>Tipo</label>
                        <select [(ngModel)]="assex[i].tipoSet" [disabled]="!graph.mixed"> 
                            <option *ngFor="let c of key(enumTipo)" [value]="enumTipo[c]">{{enumTipo[c] | titlecase}}</option> 
                        </select>
                        <label class="lblOption" style="margin:0px 3px">Color</label><br>
                        <input type="color" class="inpOption" [(ngModel)]="assex[i].colore" style="margin:0px 3px" />
                    </div>
                </div>
            </ng-container>
        </div>
        <div *ngIf="sc==3">
            <div>
                <div class="minicont">
                    <input id="optTit" type="checkbox" class="inpOption" [(ngModel)]="graph.titoloBool" style="margin:0px 3px;width:max-content"/>
                    <label for="optTit" class="lblOption" style="margin:0px 3px">Mostra Titolo</label><br>
                    <input type="text" [formControl]="tit" class="inpOption" [(ngModel)]="graph.titolo" style="margin:0px 3px" [disabled]="!graph.titoloBool" />
                    <label style="margin-top:3px">Font</label>
                    <select [(ngModel)]="graph.fontStyle" [disabled]="!graph.titoloBool"> 
                        <option *ngFor="let c of key(enumFont)" [value]="enumFont[c]">{{enumFont[c] | titlecase}}</option> 
                    </select>
                </div>
                <div class="minicont">
                    <div style="display: flex;">
                        <div style="width:40%;padding:0 1px;">
                            <label style="margin:3px 0px 0px 10px">Size</label>
                            <input [(ngModel)]="graph.fontSize" min="1" (change)="checkn()" type="number"  [disabled]="!graph.titoloBool"/>
                        </div>
                        <div style="width:60%;padding:0 1px;">
                            <label style="margin:3px 0px 0px 10px;width: 100%;">Position:</label>
                            <select [(ngModel)]="graph.posTitolo" [disabled]="!graph.titoloBool"> 
                                <option value="top">Top</option> 
                                <option value="bottom">Bottom</option> 
                                <option value="left">Left</option> 
                                <option value="right">Right</option> 
                            </select>
                        </div>
                    </div>
                    <label class="lblOption" style="margin:0px 3px">Color</label><br>
                    <input type="color" class="inpOption" [(ngModel)]="graph.fontColor" style="margin:0px 3px" [disabled]="!graph.titoloBool" />
                </div>
                
            </div>
        </div>
        <div *ngIf="sc==1">
            <div class="minicont">
                <input id="optLeg" type="checkbox" class="inpOption" [(ngModel)]="graph.legenda" style="margin:0px 3px;width:max-content"/>
                <label class="lblOption" style="margin:0px 3px;" for="optLeg">Mostra Legenda</label><br>
                <label style="margin-top:3px;width: 100%;">Position:</label>
                <select [(ngModel)]="graph.posLegenda" [disabled]="!graph.legenda"> 
                    <option value="top">Top</option> 
                    <option value="bottom">Bottom</option> 
                    <option value="left">Left</option> 
                    <option value="right">Right</option> 
                </select>
            </div>
        </div>
        <div *ngIf="sc==5">
            <div class="minicont">
                <button class="menubtn" (click)="esporta('.png')">
                    As PNG
                </button>
            </div>
            <div class="minicont">
                <button class="menubtn" (click)="print()">
                    Print
                </button>
            </div>
        </div>
    </div>
</div>
