.menubtn{
    min-width: max-content;
    width: 100%;
    text-align: center;
    background-color: #263238;
    color: #f1f1f1;
    border: none;
    padding: 10px;
}

button:focus {
    background-color: #334247;
}

button:hover, a:hover {
    background-color: #334247;
    color: darkorange;
}

.collapsebtn{
    color: white;
    padding: 0px 20px;
    height: 0px;
    transition: height 2s;
    overflow: hidden;
}

.openAdd{
    height: 255px;
}

.openOption{
    height: 400px;
}

.openExport{
    height: 265px;
}

.contenitore{
    display: table;
    clear: both;
    width: 100%;
}

.cols-menu {
    max-width: 200px;
    min-width: 160px;
    height:calc(100vh - 55px);
    background-color: #1e282d;
    float: right;
    
}
.cols-rest{
    overflow: hidden;
}
