.settingPane{
    background-color: #666;
    border-radius: 5px;
    padding:5px;
}

.canvas{
    background: floralwhite;
    border-radius: 5px;
}

.scheda{
    width: min-content;
    padding: 7px 7px 5px;
    color: white;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    border: 0px;
    border-bottom: 2px groove white;
}

.scheda:hover{
    border-radius: 5px 5px 0 0;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding: 7px 6px 5px
}

input.nav:checked + label{
    border-radius: 5px 5px 0 0 !important;
    border: 2px groove white !important;
    border-bottom: 0px !important;
    padding: 7px !important;
}

.hidden{
    display: none;
}

.optCont{
    border-bottom-left-radius: 10px;
    border-left: 2px groove white;
    border-bottom: 2px groove white;
    padding: 10px;
    color: white;
}

input{
    width: 100%;
    border: none;
    border-radius: 15px;
    padding: 1px 8px;
    margin: 0 4px;
}

select{
    width: 100%;
    padding: 1px 0 1px 3px ;
    border-radius: 15px;
    border: none;
    margin: 0px 4px;

    -webkit-appearance: none;
    -moz-appearance: none;
    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
  background-position:
    calc(100% - 13px),
    calc(100% - 8px);
  background-size:
    5px 5px,
    5px 5px;
  background-repeat: no-repeat;

}

.minicont{
    width: 150px;
    display: inline-table;
    padding: 0 5px; 
    box-sizing: border-box;
}

.minicont > label{
    margin: 10px 4px 0 10px;
}

.menubtn{
    width: 100%;
    text-align: center;
    background-color: #263238;
    color: #f1f1f1;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.menubtn:focus {
    background-color: #334247;
}

.menubtn:hover {
    background-color: #59737c;
}

input[type="color"]{
    width:50px;
    height: 20px;
    padding:2px 5px;
    box-sizing: border-box;
}