<div class="container fluid row">
  <div class="col">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Username</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Email</th>
          <th>Authorities</th>
          <th>Status</th>
          <th>Manage</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of users; let i = index">
          <td>{{u.login}}</td>
          <td>{{u.firstName}}</td>
          <td>{{u.lastName}}</td>
          <td>{{u.email}}</td>
          <td>
            Ruolo Attuale: {{u.authorities}}
            <select #id class="custom-select">
              <option selected="selected" [value]="a" *ngFor="let a of listAuthorities">{{a}}</option>
            </select>
          </td>
          <td>
            <label class="label" *ngIf="u.actived != true">Attivo: {{u.activated}}</label>
        </td>
        <td>
          <fa-icon fa-2x  [icon]="modify" class="modify" (click)="updateAuth(i, id.value)"></fa-icon>
          <fa-icon fa-2x [icon]="plus" class="plus"></fa-icon>
          <br>
          <fa-icon fa-2x  [icon]="cancella" class="cancella" (click)="disactivate(u)"></fa-icon>
          <br>
          <fa-icon fa-2x  [icon]="delRole"  class="rimuovi" (click)="deleteAuth(i, id.value)"></fa-icon>
          <fa-icon fa-2x [icon]="minus" class="minus"></fa-icon>
        </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
