<div class="container fluid row">
  <div class="col">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Username</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Email</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of users">
          <td>{{u.login}}</td>
          <td>{{u.firstName}}</td>
          <td>{{u.lastName}}</td>
          <td>{{u.email}}</td>
          <td>
            <label class="label" *ngIf="u.actived != true">Status: Active</label>
            <button type="button" class="btn btn-danger" (click)="disactivate(u)">Elimina</button>
        </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
