.settingPane{
    max-width: 200px;
}

.lavagna{
    border-radius: 10px;
    background-color: #363636;
    min-height: 500px;
    padding: 20px;
}

.colpersonal{
    margin: 0px 5px;
    padding: unset !important;
}
.row{
    margin-left: unset !important;
    margin-right: unset !important;
}
