* {
	font-family: sans-serif;
}

.centraDiv{
    margin: 25px auto;
    width: max-content;
    text-align: center;
}

div.text {
	clear: both;
	margin-top: 3%;
	margin-bottom: 3%;
}

h1 {
	position: center;
	text-align: center;
	size: 300%;
	font-family: sans-serif;
    color: #000000;
    margin-bottom: 20px;
}

select {
	width: 100%;
	padding: 14px 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #f2f2f2;
	margin: 8px 0;
}

select:hover {
	background-color: #00ccad;
}

option {
	width: 100%;
	background-color: #ffff;
	color: #000000;
	padding: 14px 20px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	cursor: pointer;
}

input {
    width: 100%;
	background-color: #ffff;
	color: #000000;
	padding: 14px 20px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	cursor: pointer;
}

input:hover {
	background-color: #00ccad;
}

form {
	width: 35%;
	border-radius: 7px;
	background-color: #f2f2f2;
    padding: 20px;
    margin: auto;
}

label, a {
	color: #000000;
    margin: 0px;
	display: inline-block;
}

button {
	-webkit-transition-duration: 0.1s; /* Safari */
	transition-duration: 0.1s;
	background-color: #00a990;
	border: none;
	color: white;
	padding: 3% 3%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 130%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	margin-bottom: 5%;
	cursor: pointer;
	border-radius: 7px;
	width: 80%;
}

button:hover {
	background-color: #00ccad;
	color: white;
}

form.center {
	margin: auto;
}

p.center {
	text-align: center;
	min-width:min-content;
}

input:disabled{
	background-color: #f2f2f2;
}

.noForm{
	display:none;		
}

.noFloat{
	float:none;
}

.newCat {
	clear: both;
}

div.center {
	width: max-content;
	margin: auto;
}

.cols {
	float: left;
	min-width: 100px;
	position: relative;
	
}

.marginBot {
	margin-bottom: 25px;
}

.table{
	margin: auto; 
	display: flex;
	width: max-content;
	border-radius: 10px;
}

.th, .tc{
	text-align: center;
	padding: 8px;
	height: 40px;
}

.tc {
	min-height:18px;
	max-height:40px;
}

.th {
	background-color: #00a990;
	color: #ffffff;
	position: inherit;
	width: 100px;
}

.table > .cols:first-of-type > .tc:first-of-type{
	border-radius: 10px 0 0 0;
}

.table > .cols:first-of-type > .tc:last-of-type{
	border-radius: 0 0 0 10px; 
}

.table > .cols:last-of-type > .tc:first-of-type{
	border-radius: 0 10px 0 0;
}

.table > .cols:last-of-type > .tc:last-of-type{
	border-radius: 0 0 10px 0; 
}

.btnComm{
	position: absolute;
	bottom: 4px;
	right: 0px;
}

.toltip .toltiptext{
	visibility: hidden;
	width: max-content;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
  }
  
  .toltip:hover > .toltiptext {
	visibility: visible;
	opacity: 1;
  }
  
  .toltiptext > p {
	  margin: 5px;
  }
  
  .toltiptext > .sugg{
	  font-size:11px;
  }
  
  .linkCRUD {
	float: left;
	width: min-content;
	cursor: pointer;
	padding: 8px;
}

.divCRUD {
	position: absolute;
	right: 0px;
}

.grey {
	background-color: #f2f2f2;
}

.white {
	background-color: white;
}

.noDS{
	height: 100%;
	padding-top: 15%;
}

.error{
	width: 60%;
	position: fixed;
	margin: 25vh auto;
	background: moccasin;
	border-radius: 10px;
	padding: 30px;
	text-align: center;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

.closerr{
	position: absolute;
	right: 5px;
	top: 5px;
	padding: 8px;
	cursor: pointer;
}

.delbutton{
	padding: 8px;
	cursor: pointer;
	padding: 8px;
	margin: 0 50px;
}

.closerr:hover, .delbutton:hover, .linkCRUD:hover {
	background-color: crimson;
	border-radius: 10px;
}
