<div class="page">
    <div class="full" *ngIf="isAdmin">
        <div clas="cont" style="width: max-content;margin:auto;max-width: 1200px;min-width: 350px;">
            <label>Visualizza i Grafici dell'utente</label>
            <select [(ngModel)]="ut" (change)="childUpdate()">
                <option *ngFor="let u of userList" [value]="u.id">{{u.login}}</option>
            </select>
        </div>
    </div>
    <div class="full">
        <div class="cont" style="width: 100%;max-width: 1200px;min-width: 350px;">
            <app-graph-modify [show]="graph" [user]="ut" (errore)="catch($event)"></app-graph-modify>
        </div>
    </div>
    <div class="full">
        <div class="half">
            <div class="cont">
                <app-graph-list [search]="ut" (toDelete)="confDel($event)" (toShow)="modify($event)"></app-graph-list>
            </div>
        </div>
        <div class="half dx" *ngIf="ut==userId">
            <div class="cont" style="background-color: #666;color: white;">
                <app-graph-create (resOp)="checkOp($event)"></app-graph-create>
            </div>
        </div>
    </div>  
</div>
<div [ngClass]="(op) ? 'msg-modal conf-color' : 'hidden'">
<!--
    <div class="msg-modal-close">
        <fa-icon [icon]="faTimes" (click)="resetErr()"></fa-icon>
    </div>
-->
    <div *ngIf="op==='del'">
        <strong>Attenzione!</strong><br> Proseguendo non sarà più possibile recuperare questo grafico.<br>Si desidera proseguire?
    </div>
    <div style="display:flex">
        <div style="width:50%;display: contents;">
            <fa-icon [icon]="ann" style="font-size: 1.5em;" class="annbutton" (click)="conf(false)"></fa-icon>
        </div>
        <div style="width:50%;display: contents;">
            <fa-icon fa-2x [icon]="ok" style="font-size: 1.5em;" class="confbutton" (click)="conf(true)"></fa-icon>
        </div>
            
    </div>

</div>

<div [ngClass]="(err) ? 'msg-modal error-color' : 'hidden'">
    <div class="msg-modal-close">
        <fa-icon [icon]="ann" (click)="err=0"></fa-icon>
    </div>
    <div *ngIf="err===1">
        <strong>Errore!</strong><br>Impossibile creare il grafico.
    </div>
    <div *ngIf="err===2">
        <strong>Errore!</strong><br>Impossibile recuperare i riferimenti agli assi del grafico.
    </div>
    <div *ngIf="err===3">
        <strong>Errore!</strong><br>Impossibile recuperare i valori degli assi.
    </div>
    <div *ngIf="err===4">
        <strong>Errore!</strong><br>Impossibile eliminare il grafico.
    </div>
    <div *ngIf="err===5">
        <strong>Errore!</strong><br>Impossibile eliminare gli assi del grafico.
    </div>
</div>