.page{
    min-height: calc(100vh - 39px);
    width: 100%;
    background: cornsilk;
    padding:10px;
    box-sizing: border-box;
    
}

.half{
    min-width: 350px;
    padding:10px;
    height: max-content;
    box-sizing: border-box;
}

@media (min-width: 701px){
    .half{
        position: absolute;
        width:calc(50% - 10px);
    }

    .dx{
        right:10px;
    }
}

@media (max-width: 700px){
    .half{
        position: relative;
        width:100%;
    }

    .dx{
        right:0px;
    }
}

.full{
    min-width: 350px;
    padding:10px;
    height: max-content;
    box-sizing: border-box;
}

.cont{
    margin:auto;
    max-width: 500px;
    width:max-content;
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
}

/** Messaggi modal */
.msg-modal{
    border: 1px solid;
    border-radius: 5px;
    position: fixed;
    top: 25%;
    margin: auto;
    left:0px;
    right: 0px;
    max-width: 60%;
    width: max-content;
    padding: 10px 15px;
} 

.msg-modal > div{
    text-align: center;
}

.msg-modal-close{
    cursor: pointer;
    float: right;
    opacity: 0.5;
} 

.msg-modal-close:hover{
    opacity: 1;
}

.error-color{
    color: #b81636;
    border-color: #ff0000;
    background-color: #fcc6c6;
}

.conf-color{
    color: #0e7594;
    border-color: #0b7392;
    background-color: #dbf7ff;
}

.hidden{
    display: none;
}

.confbutton, .annbutton{
	cursor: pointer;
	padding: 10px 20px; 
    margin: auto;
    left:0px;
    right:0px;
    opacity: 0.5;
}

.confbutton:hover{
    opacity: 1;
    color: green;
}

.annbutton:hover{
    opacity: 1;
    color: red;
}

/** */
