.titolo{
  text-align: center;
  color: rebeccapurple;
}

.sottotitolo{
  text-align: center;
}

.form-reg{
  width: 100%;
  margin-left: 25%;
}

.chiudi{
  font-size: 1.5em;
  margin-left: 50%;
  cursor: pointer;
}

.inserisci{
  font-size: 1.5em;
  margin-left: 20%;
  cursor: pointer;
}

.cancella{
  font-size: 1.5em;
  margin-left: 55%;
  cursor: pointer;
}

.custom-control{
  margin-left: 15px;
}
