<div>
  <table class="table">
    <thead>
      <tr>
        <th class="text-uppercase">Categoria</th>
        <th class="text-uppercase">Manage</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of categorie">
        <th>{{c.nome}}</th>
        <th>
          <button style="font-family:'Courier New', Courier, monospace"
          style="background-color: crimson;" (click)="delete(c)">Delete</button>
        </th>
      </tr>
    </tbody>
  </table>
      <div class="insert">
        <form>
          <input type="text" placeholder="Insert Categoria">
          <input type="submit" (click)="insert(newCategoria)" value="Insert">
        </form>
      </div>
</div>
